
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/readwise-readmoo.iml
.idea/vcs.xml
.idea/workspace.xml
App/__pycache__/master.cpython-38.pyc
App/build/master/Analysis-00.toc
App/build/master/base_library.zip
App/build/master/EXE-00.toc
App/build/master/master.exe.manifest
App/build/master/PKG-00.pkg
App/build/master/PKG-00.toc
App/build/master/PYZ-00.pyz
App/build/master/PYZ-00.toc
App/build/master/Tree-00.toc
App/build/master/Tree-01.toc
App/build/master/Tree-02.toc
App/build/master/warn-master.txt
App/build/master/xref-master.html
App/master.spec
App/Service/__pycache__/importer.cpython-38.pyc
App/Service/__pycache__/requester.cpython-38.pyc
master.spec
